 *{
    padding: 0;
    margin: 0;
    /* max-width: 100%; */
} 
body{
    font-family: "Gabarito", "serif"; 
    font-weight: 600;
  }
  .navbar{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1; 
    /* 19 z:2 */
  }
  .navbar-s1__title{
    display: flex;
    justify-content: space-around;
  }
  .navbar-s1__title img{
    width:15%;
    height:15%;
    padding:5px;
    cursor: pointer;
    }
.navbar-s1__tags{
    display: flex;
    justify-content: space-between;
     align-items: center;
    gap: 30px;
    flex-basis: 20%; 
}
.navbar-s1__tags p:hover{
  transition: 0;
  background-color: grey;
  border-radius: solid;
  cursor: context-menu;

}
.navbar-s1__tags p{
  border-radius: 50px;
    border-color: none;  
    padding: 10px;
    
}
.sign-in{
  display: flex;
  align-items: center;
    gap:10px;
}

.sign{  border: none;
  border-radius: 20px;
   background-color: black;
   color: white;
   padding: 10px;
}
.navbar-menu {
  display: none;
}

.whereto{
  padding:30px;
  text-align: center;
  font-size: 150%;
}
.search-option{
  display: flex;
  justify-content: space-around;
  padding: 50px;
  gap: 10px; 
}
.search-option p:hover{
  cursor: underline;
  border-bottom: solid black 2px;
  padding-right: 10px;
}
.search-option p{
  padding-left: 30px;
}
   .search-bar{  
    margin-top: 25px;                              
    padding:5px;
    border:solid black 1px;
    border-radius: 30px;
    width: 50%;
    height: 40px;
    display: flex;
   align-items: center;
   gap: 10px;
   margin-left: auto;
   margin-right: auto;
  }
  .search-bar input{
    border:none ;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
   }
   .search-bar input:focus{
    outline: none;
   }
    .search-bar h4{ 
      border: none;
      border-radius: 20px;
      background-color: black;
       color: white;
       padding: 10px;
    }


   .trip-image{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        /* margin-top:5% ;
        margin-left: auto;
        margin-right: auto;
        width: 150%; */
        align-items: center; 
        border-radius: 10px;     
       position:relative;
       }
.trip-image img{
  width: 100%;
  height:auto;
  object-fit: cover;
  margin-top: 50px;
  border-radius: 20px;
}
   .plan-1 {
    position: absolute;
    left: 60%;
    /* right:10% */
    /* top: 10px; */
    font-size: medium;
    /* width:auto;            141 see */
    flex-wrap: nowrap;
  
   }
   
.trip-button{
  font-size: 80%;
  padding: 10px;
  border: none;
  border-radius: 20px;
   background-color: black;
   color: white;
 margin-top: 10px;
}

/* @media screen and (max-width:760px){
  .trip-image {
    display: flex;
    padding: 0; */
    /* width: 100%; */
    /* padding-top: 10px; */
    /* position: static; */
/* } */

.trip-image img {
    width: 100%;
    height: 100%;
}
  .plan-1,.trip-button{
    font-size: small;
  }

.plan-2{
  margin-top: 50px;
  margin-left: 10%;
}
.img-container{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
    margin-right: 40px;
    width: 80%;
    gap: 40px;
}
.plan2__sec{
    display: flex;
    justify-content: center;
    position: relative;
    gap:30px;
    width: 100%;
    flex-basis: 40%;
    flex-grow:1 ;
   }
   .plan2__sec img{
    width: 100%;
    height: auto;
    gap: 30px;
    border-radius: 20px;
    cursor: pointer;
    justify-content: space-between; 
   }
   .plan2__sec h1{
    position: absolute;
    padding: 5px;
    bottom: 10px;
    color: white;
    text-shadow: 5px 0px 1px rgb(0, 0, 0, 0.59);
    flex-wrap: wrap;
  }

.plan-3{
  margin-top: 50px;
  margin-left: 10%;
}
.img__4{
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 70%;
  gap:70px;
  margin-top: 30px;
}  
.img__4 img{
  border-radius: 20px;
  cursor: pointer;
}
.img__4 p{
  text-align: center;
  margin-left: 0%;
}
.img__4 a{
  text-decoration: none;
  color: black;
}
.moretoexplore {
  margin-left: 10%;
  margin-top: 50px;
}
.more__sec1{
  display: flex;
  justify-content: space-around;
  gap: 70px;
  margin-top: 20px;
  align-items: center;
  border-radius: 10px;
  margin-top: 40px;
  width: 90%;
  cursor: pointer;
}
.more-container img{
  width: 100%;
  height: 100%;
  gap: 80px;
  border-radius: 20px;
}
.footer{
  width: 100%;
  position: absolute;
  padding:10px;
  margin-top:80px;
  margin-right: 0;
  background-color: rgb(236, 229, 229);
  color: black;
}
.footer__container{
  display: flex;
  justify-content: space-around;
}
.footer__s1 p{
  padding: 0;
}
.footer__site2{
  margin-top:30px;
  display: flex;
  position: relative;
   margin:0;
   padding: 0;  
}
.footer__site2 img{
  margin-left:7%;
  width: 50px;
  border-radius: 50px;
}
.footer__site2 p{
  font-size: smaller;
}
.footer__site3{
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 20%;
}
.footer__site3 span{ border-radius: 50px;
  border-color: none;  
  padding: 20px;
}

/* media queries */
/* @media screen and (min-width:60px) and (max-width:600px){
  body { 
     font-size:10px;
 }
 
  .sign-in,button,.search-option{
    display: none;
  }
.search-bar input{
  font-size: small;
}
.footer{
   font-size: 15px;
}
.footer__site3{
  display: none;
}
}
@media screen and (min-width:500px) and (max-width:800px) {
body{
  font-size: 15px;
}


}
@media screen and (min-width:700px) and (max-width:900px) {
     
}

@media screen and (min-width:900px) and (max-width:1200px){
  .plan-1{
      width: 23%;
      font-size: 10px;
  }
  
} */

/* @media screen and (max-width:800px){
  .sign-in,.button,.search-option
{
  display:none;
}
} */

/* max-760px */
/* @media screen and(max-width:1200px){
  .navbar{
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    
  }
  .navbar-s1__title img{
    padding-left: 10px;
    margin-left: -20px;
  }
} 